@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(160, 16px);
  grid-template-rows: repeat(16, 16px);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.dot {
  height: 16px;
  width: 16px;
  background-color: #efeef6;
  opacity: 0;
  transition: background-color 0.2s ease, opacity 0.2s ease;

  &:not(:hover):not(.fading) {
    animation: blink 2s infinite;
  }
}
